body {
    background-color: #544d47;
    margin: 0;
    padding: 0;
}

nav {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 17vh;
    background-color: #c8c2a6;
}

.NavIcon {
    height: 40px;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 35%;
    vertical-align: middle;
    margin-right: 20px;
}

.navlogo {
    left: 0;
    display: inline-block;
    position: relative;
    height: 100%;
    image-rendering: optimizeQuality;
}

.sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 2;
    /* Stay on top */
    top: 0;
    right: 0;
    background-color: #c8c2a6;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #544d47;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 36px;

}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.sidenav a.active {
    color: white;
    background-color: #736c65;
}

.firstDiv {
    margin-top: 17vh;
}

.Book_Table_Btn {
    border: #676356 solid 2px;
    border-radius: 100px;
    position: relative;
    width: 60%;
    height: 15vh;
    margin: auto;
    background-color: #c8c2a6;

}

.Book_Table_Btn p {
    color: #544d47;
    font-family: 'Righteous', cursive;
    text-shadow: 1px 1px 0 #000;
    font-size: 40px;
    line-height: 35px;
    font-weight: normal;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Menu_Btn {
    border: #676356 solid 2px;
    border-radius: 100px;
    position: relative;
    width: 60%;
    height: 15vh;
    margin: auto;
    background-color: #c8c2a6;
}

.Menu_Btn p {
    color: #544d47;
    font-family: 'Righteous', cursive;
    text-shadow: 1px 1px 0 #000;
    font-size: 40px;
    line-height: 35px;
    font-weight: normal;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.marginDiv {
    margin-top: 20px;
}

.slideshow-container {
    width: 100vw;
    padding: 0;
    margin-top: 17vh;
    text-align: center;
    z-index: 10;

}

.slideshowImage {
    height: 45vh;
    width: 100vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100vw;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    height: 5px;
    width: 5px;
    margin: 0 1px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.active {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

h1 {
    color: #fff;
    font-family: 'Righteous', cursive;
    font-size: 65px;
    font-weight: normal;
    line-height: 60px;
    margin: 10px 0 20px;
    text-transform: uppercase;
    text-shadow: 2px 2px 0 #000;
    margin: 10px 0 24px;
    text-align: center;
}


h2 {
    font-size: 35px;
    letter-spacing: -1px;
    color: #ffffff;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 #000;
    margin: 10px 0 24px;
    text-align: center;
    line-height: 50px;
}


p {
    color: #f6f6f6;
    font-family: 'Orienta', sans-serif;
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 24px;
    text-align: center;
}

h3 {
    font-size: 25px;
    color: #e4d2b2;
    text-shadow: 1px 1px 0 #000;
    margin-bottom: 10px;
    line-height: 10px;
}

.p1 {
    color: #f6f6f6;
    font-family: 'Orienta', sans-serif;
    font-size: 18px;
    line-height: 24px;
    margin: 0 0 24px;

}

li {
    color: #f6f6f6;
    font-family: 'Orienta', sans-serif;
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 12px;

}


a {
    color: #e8d4a7;
    text-decoration: none;
    text-align: right;
    font-size: 16px;
    cursor: pointer;
}


a:hover {
    color: #da9650;
    text-decoration: blink;
}

.menuTitle {
    width: 100vw;
    height: auto;
    background-color: #c6b79c;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 30px;
}

.menuTitle p {
    color: #544d47;
    font-family: 'Orienta', sans-serif;
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 24px;
    text-align: center;
}

.menuTitle h2 {
    font-size: 35px;
    letter-spacing: -1px;
    color: #544d47;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 #000;
    margin: 10px 0 24px;
    text-align: center;
    line-height: 50px;
}

.menuItem {
    width: 100vw;
    height: auto;
    margin-bottom: 40px;
}

.menuItem h2 {
    font-size: 35px;
    letter-spacing: -1px;
    text-transform: none;
    color: #e4d2b2;
    text-shadow: 1px 1px 0 #000;
    margin: 10px;
    text-align: left;
    line-height: 5px;
}

.menuItem h3 {
    font-size: 25px;
    color: #e4d2b2;
    text-shadow: 1px 1px 0 #000;
    margin-bottom: 10px;
    line-height: 10px;
    margin-left: 10px;
}

.menuItem p {
    color: #f6f6f6;
    font-family: 'Orienta', sans-serif;
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 24px;
    margin-left: 10px;
    text-align: left;
}

.orderbtn {
    font-size: 16px;
    color: #544d47;
    margin-left: 10px;
    border-radius: 20px;
    background-color: #e4d2b2;
    padding: 7px;
}

.confirmbtn {
    position: relative;
    font-size: 16px;
    color: #544d47;
    border-radius: 20px;
    background-color: #e4d2b2;
    padding: 7px;
    margin: auto;

}

.orderItem {
    height: 40px;
    margin-left: 10px;
    vertical-align: middle;
    margin-bottom: 20px;
}

.itemLabel {
    position: relative;
    color: #f6f6f6;
    font-family: 'Orienta', sans-serif;
    font-size: 20px;
    display: inline;
    text-align: left;
}

.removebtn {
    width: 32px;
    height: 32px;
    position: relative;
    bottom: 0px;
    margin-bottom: 0px;
}